.vscode/c_cpp_properties.json
sujet/libft_fr.subject.pdf
a.out
main.c
./vscode
*.exe
.vscode/tasks.json
test.c
test_*.c
libft.h
.vscode/launch.json
*.swp
./a.out.dSYM
a.out.dSYM/Contents/Info.plist
